*{
    font-family: 'Work Sans', sans-serif;
    line-height: normal;
}

.menu{
    height: 80px;
    width: 1920px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.logo__title{
    display: flex;
    align-items: center;
    margin-left: 112px;
}

.title{
    margin-left: 14px;
    color: var(--Primary, #2947A9);
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
}

.list{
    list-style-type: none;
    display: flex;
    gap: 50px;
    margin-left: 881px;
}

.menu__task{
    text-decoration: none;
    color: var(--neutral-900, #14171F);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.menu__task:hover{
    text-decoration: underline; 
}

.task{
    color: var(--Secondary, #F9995D);
    font-size: 18px;
    font-weight: 600;
}
                       
.background{
    margin: 0 auto;
    width: 100%;
    min-height: 646px;
    margin: 0 auto;
    background-image: url(/img/Background.jpg);
    background-repeat: no-repeat;
}

.background__mask{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.90) 15.1%, rgba(255, 255, 255, 0.00) 82.29%);
}

.heading{
    color: var(--neutral-800, #292E3D);
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    width: 556px;
    margin-left: 240px;
}

.main{
    height: 697px;
}

.form{
    height: 583px;
    background: var(--neutral-100, #E0E3EB);
    width: 1920px;
}

.bottom{
    background: var(--Primary, #2947A9);
    height: 70px;
    width: 1920px;
}

.copyright{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 112px;
    margin-top: 26px;
}